*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: #BAEEAD;
}
/* encabezado (HEADER) */
.navbar-brand{
    color: #010101;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.container-fluid img {
    width: 5%;
}
header nav div {
    background-color: #5BBC62;

}
.navbar{
    padding: 0%;
}
/* Aca comienza el footer*/
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide el footer en tres columnas de tamaño igual */
    gap: 20px; /* Espacio entre las columnas */
    padding: 20px; /* Ajuste el padding según sea necesario */
    background-color:  #5BBC62;
    
}
footer div img {
    height: 25px;
}
.footer div {
    display: flex;
    align-items: center;
    
}
footer div a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #010101;
    font-size: 12px;
}
