

.navbar-brand {
  color: #010101;
  font-style: italic;
  background-color: #BAEEAD;
  padding: 8px;
  border-style: inherit;
  border-radius: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
}

.escudo-villaheader {
  width: 7%;
  margin-bottom: 3px;
}

.crazy {
  width: 12%;
  margin-bottom: 3px;
}

.navbar-toggler {
  margin-bottom: 3px;
}

header nav div {
  background-color: #5BBC62;
}

.navbar {
  padding: 0%;
  border-bottom: #010101 solid 1px;
}

.nav-link {
  color: #010101;
}

#navbarTogglerDemo02 a {
  text-decoration: underline;
}

.container-fluid {
  align-items: end !important;
}

.d-flex {
  margin-bottom: 10px;
}
