main h1 {
    font-style: oblique;
    font-size: 29px;
    color: #010101;
    margin-top: 2px;
    text-decoration: underline;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .titulo-index {
    margin: 30px;
  }
  
 
  .carousel {
    margin-top: 1px;
  }
  
  .d-block {
    height: 180px;
    object-fit: cover;
  }
  
  
  