@media (max-width: 480px) {
    .contacto-redes{
        display: block;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .contacto-redes{
        display: block;
        text-align: center;
    }
}
